@import url('https://fonts.googleapis.com/css2?famely=Muli&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
.titulo{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    color: blueviolet;
}
.container{
    display: flex;
    width: 90vw;
}
.painel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 35px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.3s ease-in;
    border: 2px solid blueviolet;
}
.painel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.painel.active{
    flex: 5;
}
.painel.active h3{
    opacity: 1;
    transition: opacity 0.2s ease-in 0.3s;
}
@media(max-width: 480px){
    .container{
        width: 100vw;
    }
    .painel:nth-last-of-type(4),
    .painel:nth-last-of-type(5){
        display: none;
    }
}
